.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding-top: 3.2rem;
   
}
.menuLink {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius:  0.8rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}

.menuLink:hover{
    filter: brightness(80%);
}
.menuLink svg{
    width: 5.4rem;
    height: 5.4rem;
    
}